# Dealing with Date and Times

In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
birthday = datetime.datetime(1987, 5, 25)

In [4]:
birthday.year
birthday.month
birthday.day

25

In [5]:
birthday.weekday()

0

In [6]:
birthday = datetime.datetime(1987, 5, 25, 7, 20, 55)

In [7]:
birthday.hour

7

In [8]:
str(birthday)

'1987-05-25 07:20:55'

## Pandas DatetimeIndex Object

In [9]:
pd.Series(data=[123, 450, 234])

0    123
1    450
2    234
dtype: int64

In [10]:
dtind = pd.DatetimeIndex(['1/1/2001','2/1/2001','3/1/2001'])

In [11]:
pd.Series(data=[123, 450, 234], index=dtind)

2001-01-01    123
2001-02-01    450
2001-03-01    234
dtype: int64

## Pandas TimeStamp Object

In [12]:
pd.Timestamp('9/11/2011 07:30:45')

Timestamp('2011-09-11 07:30:45')

In [13]:
pd.Timestamp(birthday)

Timestamp('1987-05-25 07:20:55')

In [14]:
pd.Timestamp(datetime.datetime(1987, 5, 25))

Timestamp('1987-05-25 00:00:00')

In [15]:
pd.to_datetime('2017-01-01')

Timestamp('2017-01-01 00:00:00')

In [16]:
pd.to_datetime(['2017-01-01','2018-01-01','2019-01-01','2020-01-01'])

DatetimeIndex(['2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01'], dtype='datetime64[ns]', freq=None)

## Generate Time Sequence

In [17]:
pd.date_range(start='2017-01-01', end='2018-01-01',freq="D")

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [18]:
pd.date_range(start='2017-01-01', periods=10 ,freq="D")

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D')